venv
.idea
__pycache__
custom-trained-pocketsphinx-model
reports
screenshots
account_image.png
comprehensions.json
github-account.png
github-main-image.png
icon.ico
icons8-account-100.png
main.py
microphone.png
microphone-mute.png
pocketsphinx-0.1.15-cp38-cp38-win_amd64.whl
PyAudio-0.2.11-cp38-cp38-win_amd64.whl
readme.md
readout.json
tkinter_github_account.py
Ui_with_tkinter.py